

$main-color: #0077C0;
$bg-color-2: #C7EEFF;

@mixin button ($font-color, $bg-color){
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1.33333px 12.4444px;
    gap: 7.11px;
    
    width: 16rem;
    height: 4.5rem;
    color: $font-color;
    background: $bg-color;
    border-radius: 4.44444px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 18px;
    /* identical to box height, or 148% */

    text-align: center;
    letter-spacing: 0.055em;
    &:hover {
        cursor: pointer;
        transform: translateY(-6px);
        transition: transform
           250ms
           cubic-bezier(.3, .7, .4, 1.5);
    }
    &:active {
        box-shadow: #080848 0 3px 7px inset;
        transform: translateY(2px);
       }
}


